@page "/produtos"
@using MobileCrudJinx.Client.DTOs
@using MobileCrudJinx.Client.Components


<h3>Produtos</h3>


<div class="ProdutosLista">
@if (editando)
{
    <ProdutoForm produto="produtoAtual"
                 OnSaved="Voltar"
                 OnCancel="Voltar" />
}
else
{
    <button @onclick="Novo">Novo Produto</button>
    <ProdutoLista OnEditar="Editar"
        OnMovimentoSalvo="RecarregarMovimentos"/>
}

</div>

<div class="Movimentos">
    <MovimentoLista @ref="movimentoLista" />
</div>

@code {
    bool editando = false;
    ProdutoDto produtoAtual = new();
    MovimentoLista? movimentoLista;

    async Task RecarregarMovimentos()
{
    if (movimentoLista != null)
        await movimentoLista.Carregar();
}



    void Novo()
    {
        produtoAtual = new ProdutoDto();
        editando = true;
    }

    void Editar(ProdutoDto p)
    {
        produtoAtual = p;
        editando = true;
    }

    void Voltar()
    {
        editando = false;
        StateHasChanged();
    }
}
